.CalendarDay__selected_span {
  font-size: 16px;
  background: #4b4e6b;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
}

.CalendarDay__selected_span:hover {
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #222437;
}

.CalendarDay__selected {
  font-size: 16px;
  background: #222437;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}

.CalendarDay__selected:hover {
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #222437;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: brown;
}

.DateRangePickerInput,
.DateInput_input,
.DateInput_input::placeholder {
  font-size: 16px;
  background-color: #222437;
  color: #fff;
}
.DateInput_input__focused {
  font-size: 16px;
  background-color: #222437;
  border: none;
}

.DateRangePickerInput_arrow_svg {
  font-size: 16px;
  fill: #fff;
}

.DateRangePickerInput__withBorder {
  border: none;
}
