.add-key {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-key .key-content {
  border: 1.5px dashed #ffffff;
  width: 100%;
  justify-content: center;
}

.key-content {
  position: relative;
  font-size: 16px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0px;
  cursor: pointer;
  transition: 0.3s;

  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
}

.key:nth-child(6n + 1) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #da5f97 0%, #7d67f9 95.69%);
}
.key:nth-child(6n + 2) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #eb502c 0%, #ffa32e 95.69%);
}
.key:nth-child(6n + 3) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #00bbbc 0%, #07ccbe 95.69%);
}
.key:nth-child(6n + 4) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #655af1 0%, #6edff5 95.69%);
}
.key:nth-child(6n + 5) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #ef4f5d 0%, #fdbe9d 95.69%);
}
.key:nth-child(6n + 6) .key-content {
  background-image: url("/assets/images/key-card-bg.png"),
    linear-gradient(100.17deg, #886aeb 13.46%, #65e5de 95.69%);
}

.key .key-content:hover {
  transform: translateY(-7px);
}

.white {
  color: #ffffff;
}

.modal {
  border: none !important;
}

.modal-content {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  background: #1a1c2a !important;
}

.modal-content .btn {
  padding: 10px;
}

.modal-content input,
.modal-content input:focus {
  padding: 20px 5px;
  background: #3a3c4a;
  border: none;
}

.btn-green {
  background: #00dbd3;
  color: #000;
  font-weight: bold;
}

.flex-grow {
  flex-grow: 1;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  padding-bottom: 30px;
}

.key-value {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  font-size: 14.5px;
}

.key-content:hover .key-value,
.key-content:hover .delete-icon {
  opacity: 1;
  visibility: visible;
}

.delete-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
